*{
    margin: 0;
    padding: 0;
}

.headrr{
    background-color: #728C66;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-image-width: 10;
}

.img_2{
    width: 100%;
    filter:drop-shadow(#728C66 1rem 1rem 10px)
}
.body-1{
    padding: 50px;
    margin: 10, 16px;
    background-color: #8CA680;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.body-2{
    display: inline-block;
    margin: 10, 10px;
}
.body-3{
    background-color: #728C66;
    color: #728C66;
}
.body-4{
    padding: 90px;
    margin: 10, 16px;
    background-color: #8CA680;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img_3{
    width: 100%;
    filter:drop-shadow(#728C66 1rem 1rem 10px)
}
.body-6{
    padding: 90px;
    margin: 10, 16px;
    background-color: #8CA680;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
